.blogHeader {
    background-image: url(../assets/blog-header.jpg);
    background-position: center center;
    background-size: cover;
    height: 65vh;
    max-height: 600px;

    .blogHeaderContainer {
        @include setFlex(column, center, center);

        height: 100%;
        position: relative;

        .blogTitleContainer {
            height: 130px;
            max-width: 320px;
            width: 25%;
            z-index: 20;

            h1 {
                text-align: left;
            }
        }
    }
}

.blogMain {
    background-color: $seaGreenBackground;
    padding-top: 150px;

    .blogContainer {
        @include setGrid(1fr 2fr, repeat(2, auto), 7.8%);

        position: relative;
        row-gap: 40px;

        .blogSideBar {
            @include setFlex(column, space-between, default);

            background: $white;
            grid-area: 1 / 1 / 2 / 2;
            height: 900px;
            margin-left: 33%;
            padding: 450px 20px 0 20px;
            width: 75%;

            .sideBlogImageContainer {
                position: absolute;
                left: 0;
                top: -20px;
                width: 32%;
            }

            .aboutContainer > h3,
            .recentPostsContainer > h3 {
                margin-bottom: 25px;
            }

            .aboutContainer {
                margin-bottom: 60px;

                p {
                    padding: 0 5px;
                }
            }

            .recentPostsLink {
                list-style: none;

                .recentPost {
                    margin-bottom: 5px;
                    position: relative;

                    &::before {
                        background-color: $seaGreen;
                        border-radius: 50%;
                        content: '';
                        height: 5px;
                        left: -30px;
                        position: absolute;
                        top: calc(30% + 5px);
                        width: 5px;
                    }
                }
            }
        }

        .blogPostImageContainer {
            box-shadow: -40px 40px 0 0 $canary;
            position: absolute;
            right: 0;
            top: -11%;
            width: calc(((100% - 7.8%) / 3 * 2) - 40px + 6px);
            // z-index: 10;
        }

        .articleContainer {
            box-shadow: -6px 6px 0 0 $canary;
            grid-area: 1 / 2 / 2 / 3;

            // max-width: 840px;
            padding: 375px 0 20px 60px;
            position: relative;
            width: 85%;

            .article {
                p {
                    margin-bottom: 1rem;
                }

                .blogDate {
                    margin-bottom: 60px;
                }
            }
        }

        .commentsContainer {
            grid-area: 2 / 2 / 3 / 3;
        }
    }
}