.blogHeader {
    @include setBackground(url(../assets/blog-header.jpg), center center, cover, 65vh, 600px);
}

.blogTitleContainer {
    height: 130px;
    max-width: 320px;
    width: 25%;
    z-index: 0;
}

.blogMain {
    padding-top: 150px;
}

.blogContainer {
    @include setGrid(1fr 2fr, repeat(2, auto), 7.8%);

    row-gap: 40px;
}

.blogPostImageContainer {
    @include setPosition(absolute, -400px, auto, auto, calc(((100% - 7.8%) / 3) + 7.8% + 40px - 6px));

    max-width: 1000px;
    width: calc(((100% - 7.8%) / 3 * 2) - 40px + 6px);
}

.articleContainer {
    grid-area: 1 / 2 / 2 / 3;
    max-width: 1000px;
    padding: calc(-200px + 30vw) 0 20px 60px;

    .article {
        p {
            margin-bottom: 10px;
        }

        .blogDate {
            margin-bottom: 60px;
        }
    }
}

.commentsContainer {
    grid-area: 2 / 2 / 3 / 3;
    max-width: 1000px;

    .commentsListContainer {
        margin-right: 20px;
        padding-left: 40px;
    }

    .sectionHeading {
        margin-bottom: 40px;
    }
}

.commentContainer {
    @include setFlex(row, space-between, flex-start);

    margin-bottom: 8rem;

    .imageContainer {
        flex-basis: 92px;
        width: 92px;
    }

    .commentTextContainer {
        flex-basis: calc(100% - 92px - 4%);

        .commentByLine {
            margin-bottom: 10px;
        }
    }
}

.commentsForm {
    @include setGrid(repeat(2, 1fr), repeat(4, 1fr), 40px);

    grid-auto-rows: 1fr;
    margin-bottom: 80px;

    .commentFormField {
        padding: 30px;
    }

    .commentSubmitButton {
        margin: 10px 0;
    }

    .formNameFieldContainer {
        grid-area: 1 / 1 / 2 / 2;
    }

    .formEmailFieldContainer {
        grid-area: 1 / 2 / 2 / 3;
    }

    .formCommentFieldContainer {
        grid-area: 2 / 1 / 4 / 3;
    }

    .commentSubmitButton {
        grid-area: 4 / 1 / 5 / 3;
    }
}

.blogSideBar {
    @include setFlex(column, flex-start, default);

    grid-area: 1 / 1 / 2 / 2;
    height: min-content;
    margin-left: 33%;
    padding: calc(50px + 25vw) 20px 0 20px;
    width: 75%;

    .sideBlogImageContainer {
        @include setPosition(absolute, -20px, auto, auto, 0);
        
        max-width: 550px;
        width: 32%;
    }
    

    .aboutContainer > h3,
    .recentPostsContainer > h3 {
        margin-bottom: 25px;
    }

    .aboutContainer {
        margin-bottom: 60px;

        p {
            padding: 0 5px;
        }
    }

    a:hover {
        text-decoration: 3px underline $seaGreen;
    }
}

.recentPostsLink .recentPost {
    margin-bottom: 2px;

    &::before {
        @include setPosition(absolute, calc(30% + 5px), auto, auto, -30px);

        content: '';
        height: 5px;
        width: 5px;
    }
}

@media (min-width: 1600px) {
    .blogSideBar {
        padding-top: 475px;

        // repositioned image to prevent it from moving off the line with the box-shadow of the article once the max-width is reached
        .sideBlogImageContainer {
            left: calc(-500px + 29vw);
            top: -20px;
        }
    }

    .articleContainer {
        padding: 350px 0 20px 60px;
    }
}

@media (max-width: 1024px) {
    .blogPostImageContainer {       
        top: calc(-340px - 1vw);
    }

    .blogMain {
        padding-top: 80px;
    }

    .blogSideBar {
        margin-left: 25%;
        width: 85%;

        .aboutContainer > h3,
        .recentPostsContainer > h3 {
            text-align: center;
        }
    }

    .articleContainer {
        padding-top: 100px;
    }

    .commentsForm {
        .formNameFieldContainer {
            grid-area: 1 / 1 / 2 / 3;
        }

        .formEmailFieldContainer {
            grid-area: 2 / 1 / 3 / 3;
            margin-bottom: 40px;
        }

        .formCommentFieldContainer {
            grid-area: 3 / 1 / 5 / 3;
        }

        .commentSubmitButton {
            grid-area: 5 / 1 / 5 / 3;
        }
    }
}

@media (max-width: 810px) {
    .blogTitleContainer h1,
    .blogSideBar {
        text-align: center;
    }

    .blogSideBar,
    .recentPostsContainer .recentPostsLink .recentPost {
        margin: 0 auto;
    }

    .blogSideBar .sideBlogImageContainer,
    .recentPostsContainer .recentPostsLink .recentPost {
        width: 50%;
    }

    .blogTitleContainer {
        width: 100%;
    }

    .blogMain {
        padding: 40px 0;
    }

    .blogContainer {
        @include setFlex(column, space-between, center);
    }

    .blogPostImageContainer {
        position: static;
        width: 90%;
    }

    .blogSideBar {
        padding: 20px;
        position: relative;
        width: 90%;

        .sideBlogImageContainer {
            margin: 20px auto 40px;
            position: static;
        }
    }

    .recentPostsContainer .recentPostsLink {
        padding-left: 0;
    }

    .articleContainer {
        padding-top: 50px;
        padding-left: 40px;

        .blogTitle {
            margin-bottom: 20px;
        }

        .blogTitle,
        .blogDate {
            text-align: left;
        }
    }

    .commentsListContainer {
        padding-top: 40px;
    }
}

@media (max-width: 600px) {
    .blogPostImageContainer {
        left: 10%;
        top: -25vh;
        width: 80%;
    }

    .articleContainer .blogTitle {
        font-size: calc(2rem + 4vw);
    }
}