.contactHeader {
    @include setBackground(url(../assets/contact-header.jpg), center center, cover, 60vh, 500px);

    min-height: 500px;
}

.contactHeaderContainer {
    @include setFlex(column, flex-start, center);
}

.contactPageMain {
    background-color: $seaGreenBackground;
    height: 55vh;
    max-height: 700px;
}

.contactPageGridContainer {
    @include setGrid(5fr 11fr, 1fr, 0);
}   

.contactPageSideContact {
    @include setFlex(column, center, flex-start);

    margin: 0 60px;
    width: 300px;

    .socialIcons {
        @include setFlex(row, flex-start, center);

        font-size: 2.5rem;
        list-style: none;
        padding-left: 0;

        .socialIcon {
            margin-right: 25px;
        }
    }

    .emailHeading {
        margin-bottom: 2rem;
    }
}

.fa-facebook-f:hover { color: $facebookBlue }
.fa-instagram:hover { color: $instagramRed }
.fa-twitter:hover { color: $twitterBlue }
.fa-whatsapp:hover { color: $whatsappGreen }

.rightContainer {
    @include setPosition(absolute, 230px, 5%, auto, auto);

    width: 60%;

    h1 {
        margin-bottom: 20px;
        text-align: left;
    }
}

.contactForm {
    @include setGrid(repeat(2, 1fr), repeat(4, 1fr), 40px);

    background-color: $white;
    box-shadow: -40px 40px 0 0 $canary;
    margin-bottom: 80px;
    padding: 70px;

    .contactFormField {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $seaGreen;
        color: $black;
        padding: 30px;
    }

    .contactMessageField {
        border: 2px solid $seaGreen;
        resize: none;
    }

    .contactSubmitButton {
        margin: 10px 0;
    }

    .formNameFieldContainer {
        grid-area: 1 / 1 / 2 / 2;
    }

    .formEmailFieldContainer {
        grid-area: 1 / 2 / 2 / 3;
    }

    .formCommentFieldContainer {
        grid-area: 2 / 1 / 4 / 3;
    }

    .contactSubmitButton {
        grid-area: 4 / 1 / 5 / 3;
    }
}

@media (max-width: 1250px) {
    .contactPageMain {
        min-height: 800px;
    }

    .contactPageGridContainer {
        @include setFlex(column, flex-start, center);

        padding-top: 500px;
        max-height: min-content;
    }

    .contactPageSideContact {
        align-items: center;
        height: min-content;

        .socialIcons .socialIcon {
            margin: 0 15px;
        }
    }    

    .rightContainer {
        top: 200px;
        right: calc((100% - 60%) / 2);

        h1 {
            text-align: center;
        }

        .contactForm {
            box-shadow: -20px 20px 0 0 $canary; 
        }
    }

    .contactPageSideContact {
        margin-bottom: 40px;
    }
}

@media (max-width: 900px) {
    .contactPageMain {
        min-height: 800px;
    }

    .contactPageGridContainer {
        padding-top: calc(600px - 20vw);
    }

    .rightContainer {

        left: calc((100% - 85%) / 2);
        width: 85%;

        h1 {
            font-size: calc(4rem + 4vw);
        }

        .contactForm {
            @include setFlex(column, space-around, center);
            
            padding: 20px;

            & > div {
                width: 80%;
            }

            .formCommentFieldContainer {
                height: 200px;
            }
        }
    }
}

@media (max-width: 768px) {
    .rightContainer h1 {
        font-size: calc(4rem + 4vw);
    }
}

@media (max-width: 480px) { 
    .rightContainer {

        h1 {
            font-size: calc(3rem + 10vw);
        }
        .contactForm {
            box-shadow: -10px 10px 0 0 $canary;
        }
    }
}