.footer {
    background-color: $black;
    color: $white;
    font-weight: 300;
    padding: 10px 0;
    text-align: center;

    a:hover {
        color: #ea593e;
    }
}

a:focus {
    outline: 3px solid $seaGreen;
}

.button:focus {
    outline: 3px solid $outline;
}

.homeHeader,
.homeHeaderContainer,
.guidesSection,
.gallerySection .galleryGridContainer, .imageContainer {
    @include setPosition(relative, auto, auto, auto, auto);
}

.homeHeaderContainer,
.aboutSectionWrapper,
.guidesGridContainer,
.linksGridContainer,
.featureContainer,
.galleryGridContainer .imageContainer::after {
    height: 100%;
}

.homeHeader,
.linksGridContainer,
.linkContainer,
.imageBreak,
.galleryGridContainer .imageContainer::after {
    width: 100%;
}