.homeHeader,
.homeHeaderContainer,
.guidesSection,
.gallerySection .galleryGridContainer, .imageContainer,
.blogHeaderContainer,
.blogContainer {
    @include setPosition(relative, auto, auto, auto, auto);
}

.homeHeaderContainer,
.aboutSectionWrapper,
.guidesGridContainer,
.linksGridContainer,
.featureContainer,
.galleryGridContainer .imageContainer::after,
.blogHeaderContainer {
    height: 100%;
}

.homeHeader,
.linksGridContainer,
.linkContainer,
.imageBreak,
.galleryGridContainer .imageContainer::after {
    width: 100%;
}

a:focus {
    outline: 3px solid $seaGreen;
}

.button:focus {
    outline: 3px solid $outline;
}