.homeHeader {
    @include setBackground(url(../assets/header-image.jpg), center center, cover, 82vh, 850px);

    transition: background-position 0.5s ease;
}

.homeHeaderContainer {
    @include setFlex(column, flex-end, center);

    .homeTitle {
        margin-bottom: 50px;
        z-index: 10;
    }
}

.headerImageContainer {
    @include setPosition(absolute, auto, 0, -200px, auto);

    border-bottom: 60px solid $canary;
    border-left: 50px solid $canary;
    border-top: 60px solid $canary;
    max-width: 800px;
    transition: all 1s ease;
    width: 45%;
}

.aboutSection {
    height: 800px;
}

.aboutSectionWrapper {
    h2,
    p {
        padding: 0 15px;
        width: 85%;
    }

    & > * {
        margin: 15px 0;
    }
}

.guidesSection {
    height: 850px;
}

.guidesGridContainer {
    @include setGrid(repeat(2, 1fr), repeat(2, 1fr), 80px);

    max-width: 1600px;

    .imageContainer {
        max-width: 700px;
        width: 50%;
    }
}

// styles the left image container, which becomes the top container when the guides section is converted to flex column layout
.guidesLeftImageContainer .imageContainer {
    @include setPosition(absolute, -40px, auto, auto, 0);
}

// styles the right image container, which becomes the bottom container when the guides section is converted to flex column layout
.guidesRightImageContainer .imageContainer {
    @include setPosition(absolute, auto, 0, -40px, auto);
}

.guidesRightTextContainer,
.guidesLeftTextContainer {
    @include setFlex(column, center, flex-start);

    * {
        margin: 15px 0;
    }
}

// styles the right text container, which becomes the top text container when the guides section is converted to flex column layout
.guidesRightTextContainer {
    padding-left: 100px;
}

// styles the left text container, which becomes the bottom text container when the guides section is converted to flex column layout
.guidesLeftTextContainer {
    align-items: flex-end;
    padding-right: 100px;
}

.linksSection {
    height: 650px;
}

.linksGridContainer {
    @include setGrid(repeat(2, 1fr), repeat(2, 1fr), 20px);

    padding: 100px 20px;
}

.linkContainer {
    @include setFlex(row, space-between, flex-start);

    margin: 50px 0 0;

    .linkIconContainer {
        @include setFlex(row, center, center);

        height: 55px;
        width: 55px;
    }

    // icon styling differs to better match the design provided
    .fa-camera {
        font-size: 3.6rem;
    }

    .fa-users,
    .fa-file {
        font-size: 2.8rem;
    }

    .fa-phone {
        font-size: 2.4rem;
    }

    .linkTextContainer {
        margin-left: 20px;
        padding-top: 10px;
        width: calc(100% - 75px);

        .sectionHeading {
            margin-bottom: 20px;
        }
    }
}

.imageBreak {
    @include setBackground(url(../assets/banner.jpg), center center, cover, 500px, default);
}

.featureSection {
    height: 550px;
}

.featureContainer {
    @include setFlex(row, space-between, center);

    padding: 20px;

    .featureImageContainer {
        flex-basis: calc((100% / 3) - 10px);

        .imageContainer {
            width: 320px;
        }
    }
}

.featureTextContainer {
    @include setFlex(column, space-between, flex-start);

    flex-basis: calc(((100% / 3) * 2) - 10px);
    height: 60%;
    transition: all 0.3s ease;

    .featureTextContainerInner {
        @include setFlex(column, space-between, flex-start);

        margin-bottom: 50px;

        h2 {
            margin-bottom: 20px;
        }
    }
}

.gallerySection {
    height: 600px;

    .galleryGridContainer {
        @include setGrid(repeat(3, 1fr), 1fr, 40px);

        padding: 0 20px;
    }
}

// I added in some hover effects to show what would be a caption for the image being hovered on.
// Before content matches the alt text of each image to make sure experience is consistent for sighted and non-sighted users
.galleryGridContainer {
    .galleryImage1::before {
        content: 'A camera sitting on a tripod, focus on something not distinguishable in the background';
    }

    .galleryImage2::before {
        content: 'An old style camera poking out from leaves and needles on a tree, as if hidden and taking a candid photo';
    }

    .galleryImage3::before {
        content: 'A row of Nikon cameras lined up against the wall, picture slightly from above';
    }
}

.galleryGridContainer .imageContainer {
    &::before,
    &::after {
        transition: all .5s ease;
    }

    &::before {
        @include setFont($robotoStack, 2.5rem, bold, default, center, default, 1.5, default);
        @include setPosition(absolute, -200%, auto, auto, -50%);

        background-color: #4ceea7bb;
        height: 200%;
        padding: 0 70%;
        width: 200%;
        z-index: 30;
    }

    &::after {
        @include setPosition(absolute, 0, auto, auto, 0);

        content: '';
        background-color: $black;
        opacity: 0;
    }

    &:hover {
        &::before {
            transform: translateY(75%);
        }

        &::after {
            opacity: .5;
        }
    }
}

@media (min-width: 1800px) {
    // positioning the guides images relative to the container instead of the edge of the browser to keep the design from stretching too far apart
    .guidesGridContainer {
        position: relative;
    }
}

@media (max-width: 1200px) {
    .guidesSection {
        height: 800px;

        .guidesGridContainer {
            row-gap: 0;
        }
    }
    
    .featureContainer .featureTextContainer {
        margin-left: 60px;
    }
}

@media (max-width: 1024px) {
    // readjusting layout to fit flexbox column instead of grid. I did this a little early as I did not like the look of the grid as the browser got smaller
    .aboutSection,
    .guidesSection,
    .featureSection,
    .linksSection,
    .gallerySection {
        height: 100%;
    }

    .guidesGridContainer,
    .linkContainer,
    .gallerySection .galleryGridContainer {
        @include setFlex(column, space-between, center);
    }

    .guidesTextContainer .sectionHeading,
    .linkContainer .linkTextContainer {
        text-align: center;
    }

    .topNav .topNavList a {
        margin: 0 15px;
    }
    
    .homeHeader {
        background-position: -200px top;      
    }

    .homeHeaderContainer .homeTitle {
        margin-bottom: 0;
    }

    // collapsed image and removed. Did not like how it looked in the flow as the screen got smaller and did not offer any value to page
    .headerImageContainer {
        border: none;
        width: 0;
    }
    
    .homeTitle {
        font-size: calc(4rem + 8vw);
    }

    .aboutSection {
        padding: 100px 0;
    }

    .guidesGridContainer {
        padding: 20px 0;

        & > * {
            margin-bottom: 50px;
        }

        .imageContainer {
            margin: 0 auto;
            position: static;
            width: 90%;
        }
    }

    .guidesTextContainer {
        padding: 0 50px;
        width: 70%;

        .sectionHeading {
            margin: 20px auto 0;
        }

        .button {
            margin: 0 auto 40px;
        }
    }

    .linksGridContainer {
        @include setFlex(column, space-around, center);

        padding: 25px 20px;
    }

    .linkContainer {
        margin: 25px 0;
        width: 70%;

        .linkTextContainer {
            margin-left: 0;
        }
    }

    .featureContainer {
        flex-direction: column;

        .featureTextContainer {
            margin: 40px 0;
            
            .sectionTitle {
                margin: 10px auto;
            }

            .button {
                margin: 0 auto;
            }
        }
    }

    .gallerySection {
        padding: 50px 0;
    }
}

@media (max-width: 768px) {
    .aboutSectionWrapper,
    .featureContainer .featureTextContainer,
    .guidesTextContainer {
        text-align: center;
    }

    .topNav {
        padding: 0;
    }

    .topNavList {
        @include setFlex(column, space-around, center);

        background-color: $seaGreen;
        opacity: 0;
        padding: 5px 20px;
        transition: all .5s ease;
        visibility: hidden;
        z-index: 10;

        a {
            @include resetMarginAndPadding();

            outline: 5px solid transparent;
            font-size: 3rem;

            &.active {
                border-bottom: 3px solid $white;
            }
        }
    }

    .topNavListItem {
        margin: 10px 0;
        padding: 5px 0;
    }

    .homeHeader .homeTitle {
        font-size: calc(3rem + 10vw);
    }
    
    .guidesTextContainer {
        padding: 0;
        width: 80%;
    }

    .imageBreak {
        height: calc(100vw / 2);
    }
}

@media (max-width: 480px) {
    .homeHeader .homeTitle {
        font-size: calc(5rem + 2vw);
    }

    h2.sectionTitle {
        font-size: 4rem;
    }

    .aboutSection {
        padding: 40px 0;
    }
        
    .linkContainer .linkTextContainer {
        flex-basis: 80%;
    }

    .featureContainer .featureImageContainer .imageContainer {
        margin: 0 auto;
        width: 80%;
    }
}