.headerHome {
    background-image: url(../../assets/header-image.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 82vh;
    max-height: 850px;
    width: 100%;

    .headerWrapper {
        @include setFlex(column, flex-end, center);

        height: 100%;
        position: relative;

        .topNav {
            margin: 15px 0;
            padding: 20px 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 10;

            .topNavList {
                @include setFlex(row, space-between, center);

                list-style: none;
                margin: 0;
                
                & a {
                    color: $black;
                    margin: 0 25px;
                    padding: 10px 4px;

                    &.active {
                        border-bottom: 3px solid $seaGreen;
                    }
                }

                & li:last-child a {
                    margin-right: 0;
                }
            }
        }

        .homeTitle {
            margin-bottom: 50px;
            z-index: 10;
        }
    }

    .headerImageContainer {
        border: 60px solid $canary;
        border-left: 50px solid $canary;
        border-right: none;
        bottom: -200px;
        position: absolute;
        right: 0;
        width: 45%;
    }
}

.aboutSection {
    background-color: $seaGreenBackground;
    height: 800px;

    .aboutSectionWrapper {
        @include setFlex(column, center, center);

        height: 100%;

        h2,
        p {
            padding: 0 15px;
            width: 85%;
        }

        & > * {
            margin: 15px 0;
        }
    }
}

.guidesSection {
    height: 850px;
    position: relative;

    .guidesGridContainer {
        @include setGrid(repeat(2, 1fr), repeat(2, 1fr), 80px);

        height: 100%;

        .guidesImageContainer1,
        .guidesImageContainer2 {
            .imageContainer {
                position: absolute;
                width: 40%;
            }
        }

        .guidesImageContainer1 {
            .imageContainer {
                box-shadow: 40px 40px 0 0px $canary;
                left: 0%;
                top: -40px;
            }
        }

        .guidesImageContainer2 {
            .imageContainer {
                bottom: -40px;
                box-shadow: -40px 40px 0 0px $canary;
                right: 0%;
            }
        }

        .guidesTextContainer1,
        .guidesTextContainer2 {
            @include setFlex(column, center, flex-start);

            margin: 0 auto;

            * {
                margin: 15px 0;
            }
        }

        .guidesTextContainer1 {
            padding-left: 100px;
        }

        .guidesTextContainer2 {
            align-items: flex-end;
            padding-right: 100px;
        }
    }
}

.linksSection {
    background: $seaGreenBackground;
    height: 650px;

    .linksGridContainer {
        @include setGrid(repeat(2, 1fr), repeat(2, 1fr), 20px);

        height: 100%;
        margin: 0 auto;
        padding: 100px 20px;
        width: 100%;

        .linkContainer {
            @include setFlex(row, space-between, flex-start);

            margin: 50px 0 0;
            width: 100%;

            .linkIconContainer {
                @include setFlex(row, center, center);

                background-color: $seaGreen;
                border-radius: 50%;
                height: 55px;
                width: 55px;
            }

            .fa-camera {
                font-size: 3.6rem;
            }

            .fa-users,
            .fa-file {
                font-size: 2.8rem;
            }

            .fa-phone {
                font-size: 2.4rem;
            }

            .linkTextContainer {
                margin-left: 20px;
                padding-top: 10px;
                width: calc(100% - 75px);

                .sectionHeading {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.imageBreak {
    background-image: url(../../assets/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.featureSection {
    background-color: $seaGreenBackground;
    height: 550px;

    .featureContainer {
        @include setFlex(row, space-between, center);

        height: 100%;
        padding: 20px;

        .featureImageContainer {
            flex-basis: calc((100% / 3) - 10px);

            .imageContainer {
                box-shadow: 40px 40px 0 0 $canary;
                width: 320px;
            }
        }

        .featureTextContainer {
            @include setFlex(column, space-between, flex-start);

            flex-basis: calc(((100% / 3) * 2) - 10px);
            height: 60%;

            .featureTextContainerInner {
                @include setFlex(column, space-between, flex-start);

                margin-bottom: 50px;

                h2 {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.gallerySection {
    @include setFlex(column, center, center);

    background-color: $white;
    height: 600px;

    .galleryGridContainer {
        @include setGrid(repeat(3, 1fr), 1fr, 40px);

        padding: 0 20px;
    }
}

footer {
    background-color: $black;
    color: $white;
    font-weight: 300;
    padding: 10px 0;
    text-align: center;
}