@mixin resetMarginAndPadding() {
    margin: 0;
    padding: 0;
}

@mixin setBackground($imagePath, $position, $size, $height, $maxHeight) {
    background-image: $imagePath;
    background-position: $position;
    background-size: $size;
    height: $height;
    max-height: $maxHeight;
}

@mixin setFlex($direction, $justify, $align) {
    display: flex; 
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin setFont($fontFamily, $fontSize, $fontWeight, $fontStyle, $textAlign, $letterSpacing: 0, $lineHeight: 1.2, $transform: none) {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight;
    text-align: $textAlign;
    text-transform: $transform;
}

@mixin setGrid($columns, $rows, $gap) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-gap: $gap;
}
