html {
	font-size: 62.5%;
}

body {
	@include setFont($playfairStack, 2rem, default, default, default, 0, 32px, none);
}

h1 {
	&.homeTitle {
		@include setFont($playfairStack, 13.8rem, bold, italic, center, 0, 1.2, uppercase);
	}
	
	&.secondaryTitle {
		@include setFont($playfairStack, 8rem, bold, italic, center, 0, 92px, uppercase);
	}
}

h2 {
	&.sectionTitle {
		@include setFont($playfairStack, 4.2rem, bold, italic, center, 1px, 1.2, uppercase);
	}

	&.blogTitle {
		@include setFont($playfairStack, 4.2rem, bold, italic, left, 1px, 1.2, uppercase);
	}
	&.emailHeading {
		@include setFont($playfairStack, 2.6rem, bold, italic, left, 1.1px, 1.2, uppercase);

		border-bottom: 3px solid transparent;
		padding-bottom: 5px;

		&:hover {
			border-bottom: 3px solid $seaGreen;
		}
	}
}

h3 {
	&.sectionHeading {
		@include setFont($playfairStack, 3.2rem, bold, italic, default, 1px, 1.2, uppercase);
	}

	&.subSectionHeading {
		@include setFont($playfairStack, 2.6rem, bold, italic, left, 1.1px, 1.2, uppercase);
	}
}

.topNav a {
	@include setFont($playfairStack, 2.0rem, bold, italic, center, 1px, 29px, uppercase);
}

.button {
	@include setFont($playfairStack, 2.0rem, bold, italic, center, 1px, 32px, uppercase);
	border: none;
}

p {
	@include setFont($robotoStack, 2.0rem, default, default, default, 0, 32px, none);
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
p {
	@include resetMarginAndPadding();
}

a,
.button {
	text-decoration: none;
}