// utility classes
.button {
    background: $seaGreen;
    color: $black;
    display: inline-block;
    padding: 10px 20px;
}

.imageContainer {
    overflow: hidden;

    img {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.wrapper {
    width: 95%;
    max-width: 1350px;
    margin: 0 auto;
}