// utility classes
.button {
    background: $seaGreen;
    color: $black;
    display: inline-block;
    padding: 10px 20px;
}

.footer {
    background-color: $black;
    color: $white;
    font-weight: 300;
    padding: 10px 0;
    text-align: center;
}

.hamburger,
.hamburgerToggler {
    visibility: hidden;
}

.imageContainer {
    overflow: hidden;

    img {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.inlineLink {
    color: $black;
    font-weight: bold;
    font-style: italic;
}

.topNav {
    margin: 15px 0;
    padding: 20px 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;

    .topNavList {
        @include setFlex(row, space-between, center);

        list-style: none;
        margin: 0;
        z-index: 10;
        
        & a {
            color: $black;
            margin: 0 25px;
            padding: 10px 4px;

            &.active {
                border-bottom: 3px solid $seaGreen;
            }
        }

        & li:last-child a {
            margin-right: 0;
        }
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 1350px;
    width: 95%;
}

@media (max-width: 768px) {
    .hamburgerToggler {
        @include resetMarginAndPadding();

        cursor: pointer;
        height: 100px;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        visibility: visible;
        width: 100px;
        z-index: 20;

        &:checked {
            & + .hamburger .middleLine {
                transform: rotate(225deg);
            }

            & + .hamburger .middleLine::before {
                transform: rotate(90deg) translate(20px);
            }

            & + .hamburger .middleLine::after {
                transform: rotate(90deg) translate(-20px);
            }

            & + .hamburger + .topNavList {
                @include setFlex(column, space-around, center);

                opacity: 100;
                padding-top: 100px;
                visibility: visible;
            }
        }
    }

    .hamburger {
        @include setFlex(column, center, center);

        height: 80px;
        position: absolute;
        right: 0;
        top: 0;
        visibility: visible;
        width: 80px;
        z-index: 10;

        .middleLine {
            background-color: $black;
            height: 5px;
            position: relative;
            transition: all .5s ease-in-out;
            width: 50px;

            &::before,
            &::after {
                background-color: $black;
                content: '';
                height: 5px;
                position: absolute;
                transition: all .5s ease-in-out;
                width: 50px;
            }

            &::before {
                top: -20px;
            }

            &::after {
                bottom: -20px;
            }
        }
    }
}