// utility classes
.button {
    background-color: $seaGreen;
    color: $black;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    
    &:hover {
        background-color: darken($seaGreen, 10%);
    }
}

.footer {
    background-color: $black;
    color: $white;
    font-weight: 300;
    padding: 10px 0;
    text-align: center;

    a:hover {
        color: #ea593e;
    }
}

.hamburger,
.hamburgerToggler {
    visibility: hidden;
}

.imageContainer {
    overflow: hidden;

    img {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.inlineLink {
    color: $black;
    font-weight: bold;
    font-style: italic;
}

.skipMenu {
    opacity: 0;

    &:focus {
        opacity: 100;
    }
}

.topNav {
    margin: 15px 0;
    padding: 20px 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.topNavList {
    @include setFlex(row, space-between, center);

    list-style: none;
    margin: 0;
    z-index: 10;
    
    & a {
        color: $black;
        margin: 0 25px;
        padding: 10px 4px;

        &.active {
            border-bottom: 3px solid $seaGreen;

            &:focus {
                border-bottom: none;
            }
        }

        &:hover {
            border-bottom: 3px solid $canary;
        }

        &:active {
            border-bottom: none;
        }
    }

    & li:last-child a {
        margin-right: 0;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 1350px;
    width: 95%;
}

@media (max-width: 768px) {
    .hamburgerToggler {
        @include resetMarginAndPadding();

        cursor: pointer;
        height: 80px;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        visibility: visible;
        width: 80px;
        z-index: 20;

        &:checked {
            & + .hamburger .middleLine {
                transform: rotate(225deg);
            }

            & + .hamburger .middleLine::before {
                transform: rotate(90deg) translate(20px);
            }

            & + .hamburger .middleLine::after {
                transform: rotate(90deg) translate(-20px);
            }

            & + .hamburger + .topNavList {
                @include setFlex(column, space-around, center);

                opacity: 100;
                padding-top: 60px;
                visibility: visible;
            }
        }
    }

    .hamburger {
        @include setFlex(column, center, center);

        height: 80px;
        position: absolute;
        right: 0;
        top: 0;
        visibility: visible;
        width: 80px;
        z-index: 10;

        .middleLine {
            background-color: $black;
            height: 5px;
            position: relative;
            transition: all .5s ease-in-out;
            width: 50px;

            &::before,
            &::after {
                background-color: $black;
                content: '';
                height: 5px;
                position: absolute;
                transition: all .5s ease-in-out;
                width: 50px;
            }

            &::before {
                top: -20px;
            }

            &::after {
                bottom: -20px;
            }
        }
    }

    .topNav .topNavList .topNavListItem a {
        outline: 3px solid transparent;
        padding: 10px;                      

        &:focus {
            border-bottom: none;
            outline: 3px solid $canary;
            padding: 10px;
        }

        &:hover {
            border-bottom: none;
            color: $white;
        }
    }
}