// colours
$black: #2c2c2c;
$canary: #fdfa69;
$facebookBlue: #3b5998;
$ice: #effdf3;
$instagramRed: #e95950;
$juno: #ea593e;
$outline: #f2db83;
$seaGreen: #4ceea7;
$twitterBlue: #1da1f2;
$whatsappGreen: #25d366;
$white: #fafafa;

// typography
$playfairStack: 'Playfair Display', serif;
$robotoStack: 'Roboto', sans-serif;