// colours
$canary: #fdfa69;
$seaGreen: #4ceea7;
$seaGreenBackground: #4ceea815;
$black: #2c2c2c;
$white: #fafafa;
$ice: #effdf3;

// typography
$playfairStack: 'Playfair Display', serif;
$robotoStack: 'Roboto', sans-serif;