@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";
@import "partials/utils";
@import "partials/typography";

.headerHome {
    background-image: url(../../assets/header-image.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 80vh;
    width: 100%;

    .headerWrapper {
        @include setFlex(column, flex-end, center);

        height: 100%;
        position: relative;

        .topNav {
            margin: 15px 0;
            padding: 20px 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 10;

            .topNavList {
                @include setFlex(row, space-between, center);

                list-style: none;
                margin: 0;
                
                & a {
                    color: $black;
                    margin: 0 25px;
                    padding: 10px 4px;

                    &.active {
                        border-bottom: 3px solid $seaGreen;
                    }
                }

                & li:last-child a {
                    margin-right: 0;
                }
            }
        }

        .homeTitle {
            margin-bottom: 50px;
            z-index: 10;
        }
    }

    .headerImageContainer {
        border: 60px solid $canary;
        border-right: none;
        bottom: -25%;
        height: 760px;
        position: absolute;
        right: 0;
        width: 760px;

        img {
            box-shadow: 0 0 20px $canary;
        }
    }
}

.aboutSection {
    background-color: $seaGreenBackground;
    height: 80vh;

    .aboutSectionWrapper {
        @include setFlex(column, center, center);

        height: 100%;

        h2,
        p {
            padding: 0 15px;
            width: 85%;
        }

        & > * {
            margin: 20px 0;
        }
    }
}

.guidesSection {
    height: 80vh;
}


