html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background: #4ceea7;
  color: #2c2c2c;
  display: inline-block;
  padding: 10px 20px;
}

.imageContainer {
  overflow: hidden;
}

.imageContainer img {
  display: block;
  height: 100%;
  width: 100%;
}

.wrapper {
  width: 95%;
  max-width: 1350px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: default;
  font-style: default;
  text-align: default;
  letter-spacing: 0;
  line-height: 32px;
  text-transform: none;
}

h1 {
  margin: 0;
  padding: 0;
}

h1.homeTitle {
  font-family: "Playfair Display", serif;
  font-size: 13.8rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  letter-spacing: 0;
  line-height: 1.2;
  text-transform: uppercase;
}

h1.secondaryTitle {
  font-family: "Playfair Display", serif;
  font-size: 8rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  letter-spacing: 0;
  line-height: 92px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  padding: 0;
}

h2.sectionTitle {
  font-family: "Playfair Display", serif;
  font-size: 4.2rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
}

h2.blogTitle {
  font-family: "Playfair Display", serif;
  font-size: 4.2rem;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  padding: 0;
}

h3.sectionHeading {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  font-weight: bold;
  font-style: italic;
  text-align: default;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
}

h3.emailHeading {
  font-family: "Playfair Display", serif;
  font-size: 2.6rem;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  letter-spacing: 1.1px;
  line-height: 1.2;
  text-transform: uppercase;
}

.topNav a {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  line-height: 29px;
  text-transform: uppercase;
}

.button {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: uppercase;
  border: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: default;
  font-style: default;
  text-align: default;
  letter-spacing: 0;
  line-height: 32px;
  text-transform: none;
}

.topNav a,
.button {
  text-decoration: none;
}

.headerHome {
  background-image: url(../../assets/header-image.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 82vh;
  width: 100%;
}

.headerHome .headerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.headerHome .headerWrapper .topNav {
  margin: 15px 0;
  padding: 20px 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.headerHome .headerWrapper .topNav .topNavList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
}

.headerHome .headerWrapper .topNav .topNavList a {
  color: #2c2c2c;
  margin: 0 25px;
  padding: 10px 4px;
}

.headerHome .headerWrapper .topNav .topNavList a.active {
  border-bottom: 3px solid #4ceea7;
}

.headerHome .headerWrapper .topNav .topNavList li:last-child a {
  margin-right: 0;
}

.headerHome .headerWrapper .homeTitle {
  margin-bottom: 50px;
  z-index: 10;
}

.headerHome .headerImageContainer {
  border: 60px solid #fdfa69;
  border-left: 50px solid #fdfa69;
  border-right: none;
  bottom: -200px;
  position: absolute;
  right: 0;
  width: 45%;
}

.aboutSection {
  background-color: #4ceea815;
  height: 800px;
}

.aboutSection .aboutSectionWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.aboutSection .aboutSectionWrapper h2,
.aboutSection .aboutSectionWrapper p {
  padding: 0 15px;
  width: 85%;
}

.aboutSection .aboutSectionWrapper > * {
  margin: 15px 0;
}

.guidesSection {
  height: 850px;
  position: relative;
}

.guidesSection .guidesGridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 80px;
  height: 100%;
}

.guidesSection .guidesGridContainer .guidesImageContainer1 .imageContainer,
.guidesSection .guidesGridContainer .guidesImageContainer2 .imageContainer {
  position: absolute;
  width: 40%;
}

.guidesSection .guidesGridContainer .guidesImageContainer1 .imageContainer {
  -webkit-box-shadow: 40px 40px 0 0px #fdfa69;
          box-shadow: 40px 40px 0 0px #fdfa69;
  left: 0%;
  top: -40px;
}

.guidesSection .guidesGridContainer .guidesImageContainer2 .imageContainer {
  bottom: -40px;
  -webkit-box-shadow: -40px 40px 0 0px #fdfa69;
          box-shadow: -40px 40px 0 0px #fdfa69;
  right: 0%;
}

.guidesSection .guidesGridContainer .guidesTextContainer1,
.guidesSection .guidesGridContainer .guidesTextContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}

.guidesSection .guidesGridContainer .guidesTextContainer1 *,
.guidesSection .guidesGridContainer .guidesTextContainer2 * {
  margin: 15px 0;
}

.guidesSection .guidesGridContainer .guidesTextContainer1 {
  padding-left: 100px;
}

.guidesSection .guidesGridContainer .guidesTextContainer2 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 100px;
}

.linksSection {
  background: #4ceea815;
  height: 650px;
}

.linksSection .linksGridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 20px;
  width: 100%;
}

.linksSection .linksGridContainer .linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 50px 0 0;
  width: 100%;
}

.linksSection .linksGridContainer .linkContainer .linkIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4ceea7;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.linksSection .linksGridContainer .linkContainer .fa-camera {
  font-size: 3.6rem;
}

.linksSection .linksGridContainer .linkContainer .fa-users,
.linksSection .linksGridContainer .linkContainer .fa-file {
  font-size: 2.8rem;
}

.linksSection .linksGridContainer .linkContainer .fa-phone {
  font-size: 2.4rem;
}

.linksSection .linksGridContainer .linkContainer .linkTextContainer {
  margin-left: 20px;
  padding-top: 10px;
  width: calc(100% - 75px);
}

.linksSection .linksGridContainer .linkContainer .linkTextContainer .sectionHeading {
  margin-bottom: 20px;
}

.imageBreak {
  background-image: url(../../assets/banner.jpg);
  background-position: center center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.featureSection {
  background-color: #4ceea815;
  height: 550px;
}

.featureSection .featureContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 20px;
}

.featureSection .featureContainer .featureImageContainer {
  -ms-flex-preferred-size: calc((100% / 3) - 10px);
      flex-basis: calc((100% / 3) - 10px);
}

.featureSection .featureContainer .featureImageContainer .imageContainer {
  -webkit-box-shadow: 40px 40px 0 0 #fdfa69;
          box-shadow: 40px 40px 0 0 #fdfa69;
  width: 320px;
}

.featureSection .featureContainer .featureTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: calc(((100% / 3) * 2) - 10px);
      flex-basis: calc(((100% / 3) * 2) - 10px);
  height: 60%;
}

.gallerySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  height: 550px;
}

.gallerySection .galleryGridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 40px;
  padding: 0 20px;
}
